@import "tailwindcss";

:root {
  --background: #0a0a0a;
  /* Dark background */
  --foreground: #ededed;
  /** 
   */

}

@theme {
  --color-blue: #00c6ff;
  --color-accent: #00c6ff;


  /** 
    */
  /* Light foreground text */
  --hero-gradient-start: #007bff;
  /* Blue for gradients */
  --hero-gradient-end: #8a2be2;
  /* Purple for gradients */
  --hero-text-gradient-start: var(--color-blue);
  /* Lighter blue for text gradient */
  --hero-text-gradient-end: #8a2be2;
  /* Purple for text gradient */
  --code-background: #1e1e1e;
  /* Dark background for code block */
  --code-border: #00c6ff;
  /* Cyan border for code block */
  --color-keyword: #569cd6;
  /* Blue for keywords */
  --color-string: #ce9178;
  /* Orange for strings */
  --color-function: #dcdcaa;

  /* Yellow for function names */
  /* --accent-color: #00c6ff; */
  /* Accent color for borders/highlights */
  --animate-shake-x: shakeX 1.0s ease-in-out infinite;

  @keyframes shakeX {

    0%,
    100% {
      transform: translateX(0);
    }

    50% {
      transform: translateX(-5px);
    }
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;

  a {
    @apply text-foreground hover:text-blue transition-colors
  }

  main {
    height: 100vh;
  }
}

nav {
  ul {
    @apply flex space-x-4 font-mono uppercase;

    a {
      position: relative;
      @apply text-function;

      &::before,
      &::after {
        @apply text-keyword px-1;
      }

      &::before {
        content: "{";
      }

      &::after {
        content: "}";
      }
    }
  }
}

.hero {
  @apply w-full;
  background-image: url('/images/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* Overlay with semi-transparent color */
  /* @apply bg-accent/10;
  background-blend-mode: multiply; */

  .profile-pic-container {
    @apply shadow-[0px_0px_100px_20px] shadow-blue/40;

  }

  .profile-pic-wrapper {
    @apply shadow-[0px_0px_10px_5px] shadow-emerald-600/20;
  }

}

.down-arrow {
  &::before {
    @apply size-12 bg-accent rounded-full;
    content: "";
    position: absolute;
    inset: 25%;
    filter: blur(50px);
    animation: var(--animate-shake-x);
  }
}

#about {
  @apply bg-gray-900;
}

.text-hero-text-gradient {
  background-image: linear-gradient(to right, var(--hero-text-gradient-start), var(--hero-text-gradient-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

.card {
  @apply p-4 rounded-lg w-full;
  @apply bg-accent/5 border border-accent/20;
}

.footer-container {
  @apply w-full py-4 px-8 flex justify-between items-center text-sm;
  background-color: var(--background);
  color: var(--foreground);
  border-top: 1px solid var(--accent);
  margin-top: auto;
  /* Pushes the footer to the bottom */
}

.footer-left,
.footer-right {
  @apply flex items-center gap-1;
}

.name,
.dollar-sign {
  color: var(--color-blue);
}

/* .code-snippet,
code,
pre {
  font-family: 'Fira Code', 'Cascadia Code', 'Consolas', monospace;
  color: var(--color-keyword);
} */

.contact {
  position: relative;
  width: max-content;
  height: max-content;

  &::before {
    content: '';
    position: absolute;
    @apply bg-accent size-6 animate-ping;
    filter: blur(25px);
    /* animation: var(--animate-shake-x); */
  }
}



.fade {
  animation: fade;
  animation-timeline: view();
}

@keyframes fade {

  from {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  to {
    opacity: 1;
  }

}


.blur {

  animation: blur;
  animation-timeline: view(15% 0vh);
  /* animation-range: entry 0% cover 150vh; */

}

@keyframes blur {

  from {
    filter: blur(5px);
  }

  to {
    filter: blur(0px);
  }
}